<%- include('../layout/header'); %>

<main>
    <div class="container">
        <div class="row">
            <div class="col-12" id="chartsContainer">
                
            </div>
        </div>
    </div>
</main>


<script>
    const data = <%- JSON.stringify(data) %>;

    const chartsContainer = document.getElementById("chartsContainer");

    data.forEach(year => {
        chartsContainer.innerHTML += `<canvas id="chart_${year.year}"></canvas>`;
    });

    data.forEach(year => {
        const ctx = document.getElementById(`chart_${year.year}`);

        let labels = [];
        let rangeData = []
        year.ranges.forEach(range => {
            labels.push(range.label);
            rangeData.push(range.data.length);
        });

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: year.year,
                        data: rangeData,
                        borderColor: "#6ea8fe",
                        backgroundColor: "#6ea8fe"
                    }
                ]
            }
        });
    });
    
  </script>

<%- include('../layout/footer'); %>