<%- include('../layout/header'); %>


<main>

    <section class="text-center container">
      <div class="row">
        <div class="col-12">
          <img src="/header.svg" style="display: block; object-fit: cover; border-radius: 0px; width: 100%; opacity: 1;">
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">1A. Q1</h5>
                <p class="card-text">
                    Reshape the dataset to look like the following figure, and display the shape of the new dataset
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/a1_q1" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">1A. Q2</h5>
                <p class="card-text">
                    What is the total number of unique countries
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/a1_q2" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">1A. Q3</h5>
                <p class="card-text">
                    What are the years used in the dataset
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/a1_q3" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">1A. Q4</h5>
                <p class="card-text">
                    What is the average life expectancy at birth in Kuwait for males over years
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/a1_q4" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">1A. Q5</h5>
                <p class="card-text">
                    What is the highest life expectancy at age 60 for both sexes over the years? Get the country and year
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/a1_q5" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">1B. Q6</h5>
                <p class="card-text">
                    What is the lowest healthy life expectancy at age 60 for females over the years? Get the country and year
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/b1_q6" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">1B. Q7</h5>
                <p class="card-text">
                    Which year had the highest healthy life expectancy at birth for males? (1pt)
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/b1_q7" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">1B. Q8</h5>
                <p class="card-text">
                    Which top/bottom 5 countries had the highest life expectancy at birth for females in 2000
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/b1_q8" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">1B. Q9</h5>
                <p class="card-text">
                    Which top/bottom 5 countries had the lowest healthy life expectancy at birth for males in 2019
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/b1_q9" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">1B. Q10</h5>
                <p class="card-text">
                    Which country in the Gulf region had the highest healthy life expectancy at birth for females in 2019
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/b1_q10" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">2A. Q1</h5>
                <p class="card-text">
                  Split healthy life expectancy at birth in 2019 into the following bins, get the counts and plot this. (2pts)
                  1) (0,40] 2) (40,50] 3) (50,60] 4) (60,70] 5) (70,80] 6) (80,90]
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/a2_q1" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">2A. Q2</h5>
                <p class="card-text">
                  Which year has the highest median for life expectancy at birth and healthy life expectancy at birth for both sexes? Visualize this.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/a2_q2" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">2A. Q3</h5>
                <p class="card-text">
                  Is there a difference in frequency distributions between 2000 and 2019 of the healthy life expectancy at birth for males(within range(30,90) and bin width=5)? Visualize this. (2pts)
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/a2_q3" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">2A. Q4</h5>
                <p class="card-text">
                  Draw a plot to display the differences in the healthy life expectancy at birth between Kuwait, Japan, USA, and Germany for both sexes over the years.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/a2_q4" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">2B. Q5</h5>
                <p class="card-text">
                  Visualize the differences in the average healthy life expectancy at birth between males and females over the years? Visualise this.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/b2_q5" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">2B. Q6</h5>
                <p class="card-text">
                  Which year Kuwait had the best/worst global ranking of life expectancy at birth for males and females? Visualize the life expectancy at birth for males and females for years [2000, 2010, 2015, 2019]
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/b2_q6" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">2B. Q7</h5>
                <p class="card-text">
                  Which 3 countries had the best / worst progress in the global ranking of life expectancy at age 60 for males?
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/answers/b2_q7" class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  
  </main>

<%- include('../layout/footer'); %>